@model VendeAgroWeb.Models.Portal.MisAnunciosViewModel
@{
    if (Model.Anuncios.Count <= 0)
    {
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
            <h2>Aún no tienes anuncios disponibles.</h2>
        </div>
    }
    else
    {
        foreach (var item in Model.Anuncios)
        {
            if (item.Estado == EstadoAnuncio.Vacio)
            {
                <div style="padding-right:35px;" class="col-sm-4 col-md-3">

                </div>
            }
            else
            {
                <div class="col-sm-4 col-md-3">
                    <div class="col-xs-12">
                        <div class="row" style="margin-top:25px;">
                            <a class="btn btn-default menu-grad btn-renovar">
                                <p>Renovar</p>
                            </a>
                        </div>
                        <div class="row">
                            <div class="mis-anuncios-paquete-container">
                                <div style="width:@item.TiempoRestante%" class="degradado-verde degradado-verde-activos"></div>
                                <div class="mis-anuncios-anuncio" style="min-height: 215px;">
                                    <a class="mi-anuncio-link" href="/Portal/DetallesAnuncio?id=@item.Id">
                                        <div class="mis-anuncios-wrapper" style="max-height:174px;">
                                            <p class="wrapper-texto">Ver detalles</p>
                                            <div class="mis-anuncios-imagen-container">
                                                <iframe frameborder="0" class="iframe-foto-portal" scrolling="no" src="@item.ImagenPrincipal" onload=resizeImg(this)></iframe>
                                            </div>
                                            <div class="movil-anuncio-titulo movil-mis-anuncios ofertas-anuncio-titulo">
                                                <div class="row mis-anuncios-anuncio-titulo mis-anuncios-titulo anuncio-aprobado">
                                                    <p class="titulo">@item.Titulo</p>
                                                    @{
                                                        if (@item.Estado == EstadoAnuncio.Aprobado)
                                                        {
                                                            <p class="estado"><strong><span class="glyphicon glyphicon-check"></span></strong>Aprobado</p>
                                                        }
                                                        else
                                                        {
                                                            if (@item.Estado == EstadoAnuncio.NoAprobado)
                                                            {
                                                                <p class="estado"><strong><span class="glyphicon glyphicon-check"></span></strong>Aprobado</p>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
}

<script>
    function resizeImg(obj) {
        var doc = obj.contentWindow.document;
        doc.body.children[0].style.width = '100%';
        doc.body.children[0].style.height = '218px';
    }
</script>
