@{
    ViewBag.Title = "Mis Anuncios";
    Layout = "Shared/_PortalLayout.cshtml";
}

<input type="hidden" id="id" value="@Startup.GetAplicacionUsuariosManager().getUsuarioPortalActual(Request).Id" />
<div class="row mis-anuncios-global">
    <div class="col-sm-12 boton-atras-container">
        <div class="col-sm-3" style="display: inline-block">
            <a class="btn btn-default menu-grad mis-anuncios-atras" href="/Portal/Index">
                <p>atrás</p>
                <span class="glyphicon glyphicon-chevron-left" />
            </a>
        </div>

        <div class="col-sm-6 mis-anuncios-titulo-container" style="display: inline-block">
            <h2 class="mis-anuncios-titulo">Mis Anuncios</h2>
        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1">
    <div class="row" style="margin-top: 30px;">
        <ul class="nav nav-pills nav-justified">
            <li><a id="activos-pill" href="#activos" data-toggle="pill">Activos</a></li>
            <li><a id="vencidos-pill" href="#vencidos" data-toggle="pill">Vencidos</a></li>
            <li><a id="pendientes-pill" href="#pendientes" data-toggle="pill">Pendientes</a></li>
        </ul>
    </div>
</div>

<div class="col-sm-offset-1 col-sm-10">
    <div class="row" style="margin-top:30px">
        <div class="tab-content" id="tabs">
            <div class="tab-pane" id="activos">
                <img class="loader-anuncios" src="~/img/loader.gif" />
            </div>
            <div class="tab-pane" id="vencidos">
                <p>Vencidos</p>
            </div>
            <div class="tab-pane" id="pendientes">
                <p>Pendientes</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $(document).ready(function () {
        activaPill('activos');
    });

    $(window).load(function () {
        getActivos();
    });

    $(".mi-anuncio-link").hover(function () {
        $(".wrapper-texto").css("opacity", "1");
        $(".mis-anuncios-imagen-container").css("opacity", "0.2");
    }, function () {
        $(".wrapper-texto").css("opacity", "0");
        $(".mis-anuncios-imagen-container").css("opacity", "1");
    });

    $(".movil-anuncio-titulo").hover(function () {
    });

    $("#activos-pill").click(function () {
        activaPill('activos');
        getActivos();
    });

    function getActivos() {
        var id = $("#id").val();
        $.ajax({
            type: "POST",
            data: {},
            url: '/Portal/AnunciosActivosPartial?id='+id,
            success: function (result) {
                $("#activos").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }


    $("#vencidos-pill").click(function () {
        activaPill('vencidos');
    });

    $("#pendientes-pill").click(function () {
        activaPill('pendientes');
    });

    function activaPill(pill) {
        $('.nav-pills a[href="#' + pill + '"]').tab('show');
    };

</script>
