@{
    ViewBag.Title = "Mis Anuncios";
    Layout = "Shared/_PortalLayout.cshtml";
}

<div class="row mis-anuncios-global">
    <div class="col-sm-10 col-sm-offset-1 boton-atras-container">
        <div class="col-sm-3" style="display: inline-block; text-align: left;">
            <a class="btn btn-default menu-grad mis-anuncios-atras" href="/Portal/Index">
                <p>atrás</p>
                <span class="glyphicon glyphicon-chevron-left" />
            </a>
        </div>

        <div class="col-sm-6 mis-anuncios-titulo-container" style="display: inline-block">
            <h2 class="mis-anuncios-titulo">Mis Anuncios</h2>
        </div>
    </div>
</div>

<div class="col-sm-10 col-sm-offset-1">
    <div style="margin-top: 30px;">
        <ul class="nav nav-pills nav-justified">
            <li><a id="activos-pill" href="#activos" data-toggle="pill">Activos</a></li>
            <li><a id="vencidos-pill" href="#vencidos" data-toggle="pill">Vencidos</a></li>
        </ul>
    </div>
</div>

<div class="col-sm-offset-1 col-sm-10">
    <div style="margin-top:30px">
        <div class="tab-content" id="tabs">
            <div class="tab-pane" id="activos">
                <img class="loader-anuncios" src="~/img/loader.gif" />
            </div>
            <div class="tab-pane" id="vencidos">
                <img class="loader-anuncios" src="~/img/loader.gif" />
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    $(document).ready(function () {
        activaPill('activos');
    });

    $(window).on('load',function () {
        getActivos();
    });

    $("#activos-pill").click(function () {
        activaPill('activos');
        getActivos();
    });

    function getActivos() {
        var id = $("#id").val();
        $.ajax({
            type: "POST",
            data: {},
            url: '/Portal/AnunciosActivosPartial',
            success: function (result) {
                $("#activos").html(result);
            },
            error: function (msg) {
                $("#activos").html("<p class=\"error-mis-anuncios\">Error al cargar anuncios. Intentar de nuevo más tarde.</p>");
                console.log(msg);
            }
        });
    }


    $("#vencidos-pill").click(function () {
        activaPill('vencidos');
        getVencidos();
    });

    function getVencidos() {
        var id = $("#id").val();
        $.ajax({
            type: "POST",
            data: {},
            url: '/Portal/AnunciosVencidosPartial',
            success: function (result) {
                $("#vencidos").html(result);
            },
            error: function (msg) {
                $("#vencidos").html("<p class=\"error-mis-anuncios\">Error al cargar anuncios. Intentar de nuevo más tarde.</p>");
                console.log(msg);
            }
        });
    }

    function activaPill(pill) {
        $('.nav-pills a[href="#' + pill + '"]').tab('show');
    };

</script>
