@model VendeAgroWeb.Models.Portal.MisPagosViewModel

@{
    ViewBag.Title = "Mis Pagos";
    Layout = "Shared/_PortalLayout.cshtml";
}

@Styles.Render("~/Content/dataTable");
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css" />

<div class="row" style="text-align: center;">
    <div class="col-sm-12 boton-atras-container">

        <div class="col-sm-10 col-sm-offset-1 col-xs-12 mis-anuncios-titulo-container" style="display: inline-block">
            <h2 class="mis-anuncios-titulo">Mis Pagos</h2>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-xs-6" style="display: inline-block; text-align: left;">
            <a class="btn btn-default menu-grad mis-anuncios-atras" href="/Portal/Index">
                <p>atrás</p>
                <span class="glyphicon glyphicon-chevron-left" />
            </a>
        </div>

        <div class="row" style="margin-top:30px">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row" style="margin-top:20px">
                    <div class="table-responsive">
                        <table id="pagos" cellspacing="0" class="display table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Fecha</th>
                                    <th style="text-align:center;">Total</th>
                                    <th style="text-align:center;">Tarjeta</th>
                                    <th style="text-align:center;">Referencia</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody style="text-align: center;">
                                @{
                                    if (Model.Pagos.Count() < 1)
                                    {
                                        <tr><td colspan="9">No hay pagos registrados en el sistema.</td></tr>
                                    }
                                    else
                                    {
                                        foreach (var pago in Model.Pagos)
                                        {
                                            <tr>
                                                <td style="text-align: center;">@pago.Fecha.ToShortDateString()</td>
                                                <td style="text-align: center;">$@pago.Total</td>
                                                <td style="text-align: center;">************@pago.DigitosTarjeta</td>
                                                <td style="text-align: center;">@pago.Referencia</td>
                                                <td>
                                                    <a id="btn-nueva-tarjeta" class="btn btn-primary" href="/Portal/DetallesPago?id=@pago.Id&total=@pago.Total" style="width:50%; color:white;">Detalles</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/dataTable");
<script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/pdfmake.min.js"></script>
<script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.27/build/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#pagos').DataTable({
            dom: 'Bfrtip',
            buttons: [
            {
                extend: 'pdfHtml5',
                title: "Mis Pagos - Mercampo",
                customize: function (doc) {
                    doc.content[1].table.widths = 
                        Array(doc.content[1].table.body[0].length + 1).join('*').split('');
                },
                exportOptions: {
                    columns: [0, 1, 2, 3],
                }
            },
            {
                extend: 'excelHtml5',
                title: "Mis Pagos - Mercampo",
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ]
                }
            },
            {
                extend: 'csvHtml5',
                title: "Mis Pagos - Mercampo",
                exportOptions: {
                    columns: [ 0, 1, 2, 3 ]
                }
            },
            {
                extend: 'copyHtml5',
                title: "Mis Pagos - Mercampo",
                exportOptions: {
                    columns: [0, 1, 2, 3]
                }
            }
            ],

            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }

        });
    });
</script>