@{
    ViewBag.Title = "Mis Pagos";
    Layout = "Shared/_PortalLayout.cshtml";
}


<div class="row" style="text-align: center;">
    <div class="col-sm-12 boton-atras-container">
        <div class="col-sm-3">
            <a class="btn btn-default menu-grad mis-anuncios-atras" href="/Portal/Index">
                <p>atrás</p>
                <span class="glyphicon glyphicon-chevron-left" />
            </a>
        </div>
    </div>
</div>