@model VendeAgroWeb.Models.Portal.MisPagosViewModel

@{
    ViewBag.Title = "Mis Pagos";
    Layout = "Shared/_PortalLayout.cshtml";
}


<div class="row" style="text-align: center;">
    <div class="col-sm-12 boton-atras-container">

        <div class="col-sm-10 col-sm-offset-1 col-xs-12 mis-anuncios-titulo-container" style="display: inline-block">
            <h2 class="mis-anuncios-titulo">Mis Pagos</h2>
        </div>
        <div class="col-sm-10 col-sm-offset-1 col-xs-6" style="display: inline-block; text-align: left;">
            <a class="btn btn-default menu-grad mis-anuncios-atras" href="/Portal/Index">
                <p>atrás</p>
                <span class="glyphicon glyphicon-chevron-left" />
            </a>
        </div>

        <div class="row" style="margin-top:30px">
            <div class="col-sm-offset-1 col-sm-10">
                <div class="row" style="margin-top:20px">
                    <div class="table-responsive">
                        <table class="table table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="text-align:center;">Fecha</th>
                                    <th style="text-align:center;">Total</th>
                                    <th style="text-align:center;">Tarjeta</th>
                                    <th style="text-align:center;">Referencia</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Pagos.Count() < 1)
                                    {
                                        <tr><td colspan="9">No hay pagos registrados en el sistema.</td></tr>
                                    }
                                    else
                                    {
                                        foreach (var pago in Model.Pagos)
                                        {
                                            <tr>
                                                <td>@pago.Fecha.ToShortDateString()</td>
                                                <td>$@pago.Total</td>
                                                <td>************@pago.DigitosTarjeta</td>
                                                <td>@pago.Referencia</td>
                                                <td>
                                                    <a id="btn-nueva-tarjeta" class="btn btn-primary" href="/Portal/DetallesPago?id=@pago.Id&total=@pago.Total" style="width:50%; color:white;">Detalles</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>