@model VendeAgroWeb.Models.Portal.NuevaTarjetaViewModel

@{
    ViewBag.Title = "Nueva Tarjeta";
    Layout = "Shared/_PortalLayout.cshtml";
}
<div class="procesando-pago-carrito procesando-pago col-sm-12" style="height: calc(100vh - 200px);">
    <div class="procesando-pago-contenido proceso-pago-contenido-carrito">
        <h3 style="text-align:center;">Estamos agregando tu tarjeta, favor de no recargar la p&aacute;gina.</h3>
        <img class="loader-anuncios" src="~/img/loader.gif" />
        <input type="hidden" id="valid" value="100" />
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="row nueva-tarjeta-titulo col-sm-offset-2 col-sm-8" style="margin-top: 60px;">
            <h2 class="mi-cuenta-titulo" style="text-align: center;">Nueva Tarjeta</h2>
            <div class="row tarjeta" style="margin-left: 0px; margin-right: 0px; margin-top:20px; font-size: 16px;">
                <div class="alert alert-danger error-tarjeta">

                </div>
                <form class="form-horizontal" id="forma-pago">
                    <input class="form-control" id="id-usuario" value="@Model.Id" style="display: none;"/>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input class="form-control" data-openpay-card="holder_name" id="nombre-tarjeta" placeholder="Nombre en la tarjeta" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input class="form-control" data-openpay-card="card_number" id="numero" placeholder="N&uacute;mero de la tarjeta" />
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" data-openpay-card="cvv2" id="codigo" type="number" placeholder="C&oacute;digo de seguridad" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <h4>Fecha de vencimiento</h4>
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" data-openpay-card="expiration_month" type="number" id="mes" placeholder="Mes" />
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" id="anio_vista" placeholder="A&ntilde;o" />
                            <input class="form-control" style="display:none;" data-openpay-card="expiration_year" type="number" id="anio" placeholder="A&ntilde;o" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <div class="row">
                    <a id="btn-nueva-tarjeta" class="btn btn-default botones-grad agregar-tarjeta-boton pagar-boton" style="color:white;">Agregar Tarjeta</a>
                </div>
                <div class="row">
                    <a href="/Portal/Perfil" class="btn btn-default agregar-tarjeta-boton pagar-boton">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

<script type="text/javascript"
        src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript'
        src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
<script>
    $(document).ready(function () {
        OpenPay.setId('mkvaxqzeaclhhptjqtd4');
        OpenPay.setApiKey('pk_948431dcf9fa4adb9d66a51381fb2eec');
        OpenPay.setSandboxMode(false);
        $("#numero").mask("9999-9999-9999-9999");
    });

    $("#btn-nueva-tarjeta").click(function () {
        var nombre = $("#nombre-tarjeta").val();
        var num = $("#numero").unmask();
        var numero = num.val();
        var codigo = $("#codigo").val();
        var mes = $("#mes").val();
        var anio = $("#anio_vista").val();
        var valido = true;
        var cadenaError = "<strong>Error:</strong> </br>";

        if (nombre.length < 5) {
            valido = false;
            cadenaError += "    - Introduzca un nombre v&aacute;lido. </br>";
            $("#nombre-tarjeta").addClass("has-error");
        }
        else {
            $("#nombre-tarjeta").removeClass("has-error");
        }

        if (!(OpenPay.card.validateCardNumber(numero))) {
            valido = false;
            cadenaError += "    - Introduce un n&uacute;mero de tarjeta v&aacute;lido. </br>";
            $("#numero").mask("9999-9999-9999-9999");
            $("#numero").addClass("has-error");
        }
        else {
            $("#numero").removeClass("has-error");
            $("#numero").mask("9999-9999-9999-9999");
        }

        if (!(OpenPay.card.validateCVC(codigo, numero))) {
            valido = false;
            cadenaError += "    - Introduce un c&oacute;digo de seguridad v&aacute;lido. </br>";
            $("#codigo").addClass("has-error");
        }
        else {
            $("#codigo").removeClass("has-error");
        }

        if (!(OpenPay.card.validateExpiry(mes, normalizeYear(anio)))) {
            valido = false;
            cadenaError += "    - Introduce una fecha de vencimiento v&aacute;lida. (año 2 digitos)</br>";
            $("#mes").addClass("has-error");
            $("#anio").addClass("has-error");
        }
        else {
            $("#mes").removeClass("has-error");
            $("#anio").removeClass("has-error");
        }

        if (!valido) {
            $(".error-tarjeta").html(cadenaError).show('');
            return;
        }
        $("#anio").val(anio);
        $(".error-tarjeta").hide('');
        var num = $("#numero").unmask();
        var deviceSessionId = OpenPay.deviceData.setup("forma-pago", "deviceIdHiddenFieldName");
        $(".procesando-pago").show();
        OpenPay.token.extractFormAndCreate('forma-pago', success_callback, error_callback);
    });

    var success_callback = function (token) {
        var sessionId = $("#deviceIdHiddenFieldName").val();
        var idUsuario = $('#id-usuario').val();

        $.ajax({
            type: 'POST',
            data: { id: idUsuario, tokenTarjeta: token.data.id, sessionId: sessionId },
            url: '/Portal/AgregarTarjeta',
            success: function (response) {
                response = JSON.parse(response);
                if (response.Exitoso) {
                    window.location = "Perfil";
                    return;
                }
                else {
                    $(".error-tarjeta").html(response.Mensaje).show('');
                    $(".procesando-pago").hide();
                    return;
                }
            },
            error: function (err) {
                $(".procesando-pago").hide();
                $(".error-tarjeta").html("Error en el servidor, vuelva a intentarlo de nuevo en unos minutos").show('');
                return;
            }
        });
        return;
    };



    var error_callback = function (response) {
        var desc = response.data.description != undefined ?
        response.data.description : response.message;
        console.log("error: " + desc);
        $(".procesando-pago").hide();
        $(".error-tarjeta").html(desc).show('');
        return;
    };

    function normalizeYear(anio) {
        if (anio.length === 4) return anio;

        if (anio.length != 2) return anio;

        var d = new Date();
        var n = d.getFullYear().toString();
        var dig = n.substr(0, 2);
        console.log(dig);
        return dig + anio;
    }
</script>
<style>
    .procesando-pago-contenido {
        position: relative;
        top: 50%;
        left: 50%;
        padding: 0;
        transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
</style>