@model VendeAgroWeb.Models.Pagina.HomeViewModel

@{
    ViewBag.Title = "Inicio";
}

<div class="col-sm-3">
    <div class="row busqueda-avanzada-container">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <h3>Búsqueda Avanzada</h3>
            </div>
            <div class="row">
                <div class="dropdown busqueda-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Categoría
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Subcategoría
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Estado
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Ciudad
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="slider-container">
                    <div class="slider" id="slider">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-9">
    <h2>Destacados</h2>
</div>

@Scripts.Render("~/bundles/nouislider")

<script>
    var slider = document.getElementById('slider');

    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        range: {
            'min': 0,
            'max': 100
        }
    });
</script>