<div class="anuncio-movil">
    <div class="movil-anuncio-imagen-container">
        <a><img class="foto-anuncio" src="~/img/yegua.jpg" /></a>
    </div>
    <div class="movil-anuncio-titulo">
        <div class="row anuncio-titulo">
            <p class="titulo">Yegua española</p>
            <p class="precio">$150,000</p>
        </div>
    </div>
</div>
