
<div class="row">
    <div class="banner-lateral">
        <a><img src="~/img/banner1.jpg" /></a>
    </div>
</div>

<div class="row">
    <div class="banner-lateral">
        <a><img src="~/img/bannerLat2.jpg" /></a>
    </div>
</div>