
<div class="col-sm-12">
    <div class="row">
        <div class="banner-central-container">
            <div class="banner-central">
                <span><a><img src="~/img/banner.png" /></a></span>
            </div>
        </div>
    </div>
</div>
