@model VendeAgroWeb.Models.Pagina.PortalAnunciosBusquedaViewModel

@{
    foreach (var anuncio in Model.Anuncios)
    {
        <div class="col-sm-4 col-md-3">
            <div class="anuncio-movil col-xs-12">
                <div class="row">
                    <div class="movil-anuncio-imagen-container">
                        <a href="/Home/AnuncioDetalles?id=@anuncio.Id&consulta=@ConsultarDetalles.ResultadosDeBusqueda&query=@Model.Query" style="position: absolute; width: 100%; height: 100%;"></a>
                        <iframe frameborder="0" height="175" class="iframe-foto-movil" scrolling="no" src="@anuncio.FotoPrincipal" onload="resizeImg(this)"></iframe>
                    </div>
                    <div class="movil-anuncio-titulo ofertas-anuncio-titulo">
                        <div class="row anuncio-titulo">
                            <div class="col-xs-8">
                                <p class="titulo">@anuncio.Titulo</p>
                            </div>
                            <div class="col-xs-4">
                                <p class="precio">$@anuncio.Precio</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<script>
    function resizeImg(obj) {
        var doc = obj.contentWindow.document;
        doc.body.children[0].style.width = '100%';
        doc.body.children[0].style.height = '175px';
    }
</script>
