@if (Startup.GetAplicacionUsuariosManager().VerificarPortalSesion() == LoginStatus.Exitoso)
{
    using (Html.BeginForm("LogOut", "Portal", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right login-container">
            <li>
                @Html.ActionLink(Startup.GetAplicacionUsuariosManager().getUsuarioPortalActual(Request).Nombre, "Index", "Portal", routeValues: null, htmlAttributes: new { title = "Portal" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
            <li>
                <span class="carrito-boton">
                    <a class="btn btn-default carrito botones-grad botones-shadow" href="/Home/CarritoDeCompra">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                </span>
            </li>
        </ul>
    }
}
else
{
    <div class="botones-menu">
        <a target="_blank" href="https://www.facebook.com/mercampoventas/?fref=ts" class="fbook-boton fbook-boton-hide"><img src="~/img/fbook.png" /></a>
        <a class="btn btn-primary btn-8-caracteres btn-ingresar botones-shadow botones-grad loginLink" onclick="abrirModalLogin(1)"  id=""><span class="icono-ingresar glyphicon glyphicon-user"></span>Ingresar</a>
        <a class="btn btn-default carrito botones-grad botones-shadow" href="/Home/CarritoDeCompra">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    </div>
}



<script>

</script>
