@{
    VendeAgroWeb.Models.Portal.LoginViewModel model = new VendeAgroWeb.Models.Portal.LoginViewModel();
}

@{
    ViewBag.Title = "Login";
}

<div class="row login-cliente-container" id="login-cliente">
    <div class="loader-login" style="display:none;">
        <div class="col-sm-12" style="text-align:center;">
            <img src="~/img/loader.gif" />
        </div>
    </div>
    <div class="login-completo">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="logo-login" style="text-align: center;">
                <img src="~/img/logo.png" />
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="alert alert-danger" id="alerta" style="display:none;">
                    </div>
                    <div class="login-campos">
                        <div class="form-group">
                            <div class="login-campo">
                                <input class="form-control campos-registro text-box single-line" data-val="true" data-val-email="El email introducido no es válido." data-val-required="*Campo requerido." id="EmailLogin" name="Email" placeholder="Email" type="email" value="">
                                @Html.ValidationMessageFor(m => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom: 5px;">
                            <div class="login-campo">
                                <input class="form-control campos-registro text-box single-line password" data-val="true" data-val-length="La contraseña debe de ser mínimo de 6 caracteres." data-val-length-max="100" data-val-length-min="6" data-val-required="The Contraseña field is required." id="PasswordLogin" name="Password" placeholder="Contraseña" type="password">
                                @Html.ValidationMessageFor(m => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <p id="olvidaste-contrasena-cliente" style="text-align: center;"><a id="olvidaste-contrasena" class="registrate-texto">¿Olvidaste tu contraseña?</a></p>
                        <div class="form-group" style="text-align: center; margin-top: 20px;">
                            <div class="text-container" style="position: relative; display: inline-block;">
                                <a id="boton-iniciarSesion" class="btn btn-default registrar-boton menu-grad">Iniciar Sesi&oacute;n</a>
                                <span class="glyphicon glyphicon-user" style="position: absolute; left: 22px; top: 12px; color:white;"></span>
                            </div>
                        </div>
                        <div class="olvidaste-contrasena-cliente" style="margin-top: 30px;">
                            <p style="display: inline-block;" class="registrate-texto">¿No tienes cuenta?</p><a href="/Portal/Registro" id="link-registro" style="margin-left: 10px;">Regístrate aquí</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



<script>

    $(document).ready(function(){
        var redirect = getUrlParameter('redirect');
        if(typeof redirect != 'undefined'){
            $("#link-registro").attr('href', '/Portal/Registro?redirect=1');
        }
    });

    $("#boton-iniciarSesion").click(function () {
        var redirect = getUrlParameter('redirect');
        if (typeof redirect == 'undefined') {
            redirect = false;
        }
        else{
            redirect = true;
        }
        var email = $("input#EmailLogin").val();
        var password = $("#PasswordLogin").val();
        var valido = true;
        if (password.length < 6) {
            $(".field-validation-valid[data-valmsg-for='Password']").html($("#PasswordLogin").data("val-length")).show();
            valido = false;
        }
        else {
            $(".field-validation-valid[data-valmsg-for='Password']").html('').hide();

        }

        if (email.length <= 0) {
            $(".field-validation-valid[data-valmsg-for='Email']").html($("#EmailLogin").data("val-required")).show();
            valido = false;
        }
        else if (!validateEmail(email)){
            $(".field-validation-valid[data-valmsg-for='Email']").html($("#Email").data("val-email")).show();
            valido = false;
        }
        else{
            $(".field-validation-valid[data-valmsg-for='Email']").hide();
            $(".field-validation-valid[data-valmsg-for='Email']").hide();
        }

        if(!valido){
            return;
        }
        $(".login-completo").hide();
        $(".loader-login").show();
        $.ajax({
            type: 'POST',
            data:{ email: email, password: password},
            url: '/Portal/Login',
            success: function(response){
                $("#alerta").html('').hide();
                if (response == "Incorrecto") {
                    $(".login-completo").show();
                    $(".loader-login").hide();
                    $("#alerta").html("Contraseña o email incorrecto.").show();
                    return;
                }
                else if (response == "ConfirmacionMail") {
                    $(".login-completo").show();
                    $(".loader-login").hide();
                    $("#alerta").html("Confirmacion de email pendiente.").show();
                    return;
                }
                if(redirect){
                    window.location = "/Home/PagoCarritoTarjetas";
                }
                else
                {
                    window.location = "/Portal";
                }
            },
            error: function(err){

            }
        });

    });

    $("#olvidaste-contrasena").click(function () {
        $.ajax({
            type: 'POST',
            data:{},
            url: '/Portal/OlvidasteContrasenaPartial',
            success: function(response){
                $('.login-completo').html(response);
                return;
            },
            error: function(err){

            }
        });
    });

    function validateEmail(email) {
        var re = /^(([^<>()[\]\\.,;:\s@('@')\"]+(\.[^<>()[\]\\.,;:\s@('@')\"]+)*)|(\".+\"))@('@')((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;;
        return re.test(email);
    }
</script>

