@if (Startup.GetAplicacionUsuariosManager().VerificarPortalSesion() == LoginStatus.Exitoso)
{
    using (Html.BeginForm("LogOut", "Portal", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right login-container">
        <li>
            @Html.ActionLink(Startup.GetAplicacionUsuariosManager().getUsuarioPortalActual(Request).Nombre, "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right login-container">
        <li><a data-target="#registro" data-toggle="modal" id="registerLink">Reg&iacute;strate</a></li>
        <li><a data-target="#login" data-toggle="modal" id="loginLink">Log in</a></li>
    </ul>
}
