<div class="menu-container menu-grad">
    <div class="menu-contenedor-content">
        <div class="menu-top menu-row row">
            <div class="col-sm-12" style="margin-top: 5px;">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo-container menu-min-height">
                            <a href="/Home"><img src="~/img/logoHorizontal.png" /></a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="row menu-min-height">
                            <form role="search" class="form-horizontal forma-busqueda">
                                <div class="input-group">
                                    <input type="text" class="form-control menu-buscar-texto" id="buscar" placeholder="Buscar" aria-describedby="sizing-addon2">
                                    <span class="input-group-btn" id="sizing-addon2">
                                        <a id="btn-buscar-anuncios" class="btn btn-default busqueda botones-grad botones-shadow">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="login-menu-container menu-min-height">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-bottom menu-row row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        @Html.Partial("_MenuPaginaTabs")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#btn-buscar-anuncios").click(function () {
        var query = $('#buscar').val();
        query = query.toLowerCase();
        window.location = "/Home/ResultadosBusqueda?query=" + query;
    });
</script>