
<ul class="menu-tabs">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Ofertas del día", "OfertasDelDia", "Home")</li>
    <li>@Html.ActionLink("Anúnciate", "Anunciate", "Home")</li>
    <li>@Html.ActionLink("Contacto", "Contacto", "Home")</li>
    <li class="fbook-boton-container"><a target="_blank" href="https://www.facebook.com/mercampoventas/?fref=ts" class="fbook-boton"><img src="~/img/fbook.png" /></a></li>
</ul>
