
<div class="col-sm-12 menu-grad">
    <div class="menu-movil-top row">
        <div class="col-xs-6 logo-movil-container">
            <a class="logo-movil" href="/Home"><img src="~/img/logoHorizontalMovil.png" /> </a>
        </div>
        <div class="col-xs-6 login-menu-movil-container">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="menu-movil-middle row" style="padding-top: 10px;">
        <div class="col-xs-9" style="padding-left: 8%; padding-right: 0px;">
            <form role="search" class="form-horizontal movil-forma-busqueda">
                <div class="input-group">
                    <input type="text" class="form-control" id="buscar" placeholder="Buscar">
                    <div class="input-group-btn">
                        <a class="btn btn-default busqueda botones-grad botones-shadow">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-3">
            <span style="float: right; padding-right: 15px;">
                <a class="btn btn-default carrito botones-grad botones-shadow">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                </a>
            </span>
        </div>
    </div>
    <div class="menu-movil-bottom row">
        <div class="col-xs-12">
            @Html.Partial("_MenuPaginaTabs")
        </div>
    </div>
</div>