@*@model VendeAgroWeb.Models.Portal.OlvidasteContrasenaViewModel*@

@{
    ViewBag.Title = "Olvidaste Contraseña";
}


<div class="row login-cliente-container hideMe" id="olvidaste-cliente">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="logo-login" style="text-align: center;">
                <img src="~/img/logo.png" />
            </div>
        </div>
    </div>
</div>
