@model VendeAgroWeb.Models.Pagina.PaginaBannerCentralViewModel

@{
    if (Model != null)
    {
        <div class="banner-central">
            <a  target="_blank" class="banner-central-link" href="http://@Model.Link"></a>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $('.banner-central').css("background", "url(@Model.Ruta) center no-repeat");

    });

</script>
