@model VendeAgroWeb.Models.Pagina.CarritoDeCompraViewModel

@{
    ViewBag.Title = "Carrito de Compra";
}

<div class="row" style="margin-top: 50px;">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="table-responsive" style="border-bottom-style:dashed; border-width: 2px; border-color: #04612d;">
            <table class="table table-borderless table-responsive" style="margin-bottom:0px !important;">
                <thead class="botones-grad">
                    <tr>
                        <th class="tabla-carrito-titulo">Nombre</th>
                        <th class="tabla-carrito-titulo">Precio</th>
                        <th class="tabla-carrito-titulo"></th>
                        <th class="tabla-carrito-titulo">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="paquete-carrito">
                            <h2>6 meses</h2>
                            <ul>
                                <li>titulo</li>
                                <li>descripcion</li>
                                <li>fotos</li>
                            </ul>
                        </td>
                        <td class="precio-carrito">
                            <p>$6000</p>
                        </td>
                        <td class="borrar-carrito">
                            <a><img style="width:100%;" src="~/img/delete.png" /></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>