@model VendeAgroWeb.Models.Pagina.PaginaCategoriasViewModel

@{
    foreach (var item in Model.Categorias)
    {
        <li><a data-id="@item.Id">@item.Nombre</a></li>
    }
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $("#categoria-dropdown li a").click(function () {
        categoriasClick($(this));
    });
</script>
