@model VendeAgroWeb.Models.Pagina.PaginaEstadosViewModel

@{
    foreach (var item in Model.Estados)
    {
        <li><a data-id="@item.Id">@item.Nombre</a></li>
    }
}

<script>
    $("#estado-dropdown li a").click(function () {
        estadosClick($(this));
    });
</script>
