@model VendeAgroWeb.Models.Pagina.GaleriaAnuncioViewModel

<div class="container">
    <div class="loader" style="display: none;">
        <img class="loader-anuncios" src="~/img/loader.gif" />
    </div>
    <div class="gallery" style="display: block;">
        <span class="closeGallery">×</span>
        <div class="galleryLoaderContainer" style="width:100%;height:100%;">
            <div class="fotos">
                <div id="owl2" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
                    @{
                        foreach (var foto in Model.Fotos)
                        {
                            var clase = "";
                            if (foto.Principal)
                            {
                                clase = "activo";
                            }
                            <div class="item @clase">
                                <img src="@foto.Ruta" />
                            </div>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/carousel/js")
@Styles.Render("~/owl/css")

<script type="text/javascript">
    $(document).ready(function () {
        $("#owl2").owlCarousel({
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true,
            autoPlay: false
        });

        setTimeout(function () {
            $(".fotos").addClass("galleryActive");
        },
			1000);
    });


    $(".closeGallery").click(function () {
        $(".gallery").fadeOut('slow');
        $(".gallery").html('<img class="galleryLoader" src="~/img/loader.gif">');
    });

</script>