@model VendeAgroWeb.Models.Pagina.HomeViewModel

@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="carrusel-imagenes-container">

    </div>
    <div class="col-sm-12">
        <div class="col-sm-12 home-body-container">
            <div class="row">
                <div class="banner-central-container">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 expander-3">
                    <div class="busqueda-fixed-container">
                        <div class="col-sm-12 busqueda-titulo-container titulos">
                            <div class="busqueda-container">
                                <h3>Búsqueda</h3>
                                <div id="categoria-dropdown" class="dropdown">
                                    <button id="btn-categoria" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Categoría
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="categorias" class="dropdown-menu"></ul>
                                </div>
                                <div id="subcategoria-dropdown" class="dropdown">
                                    <button id="btn-subcategoria" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Subcategoría
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="subcategorias" class="dropdown-menu">
                                        <li><a href="#">Elige una categoría...</a></li>
                                    </ul>
                                </div>
                                <div id="pais-dropdown" class="dropdown">
                                    <button id="btn-pais" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        País
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="paises" class="dropdown-menu"></ul>
                                </div>
                                <div id="estado-dropdown" class="dropdown">
                                    <button id="btn-estado" class="btn btn-default dropdown-toggle botones-grad busqueda-dropdown" type="button" data-toggle="dropdown">
                                        Estado
                                        <span class="caret"></span>
                                    </button>
                                    <ul id="estados" class="dropdown-menu">
                                        <li><a href="#">Elige un país...</a></li>
                                    </ul>
                                </div>
                                <div class="slider-container">
                                    <div class="price-container row">
                                        <p class="precio-izq">$<span id="value-izq">100</span></p>
                                        <p class="precio-der">$<span id="value-der">5000</span></p>
                                    </div>
                                    <div class="slider" id="slider">
                                    </div>
                                </div>
                                <div style="margin-top: 19px;">
                                    <button id="btn-precio" class="btn btn-default botones-grad" type="button">
                                        Filtrar precio
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 expander-6">
                    <div class="row">
                        <div class="destacados-titulo-container titulos">
                            <h3>Destacados</h3>
                        </div>
                        <div class="anuncios-container">
                            <img class="loader-anuncios" src="~/img/loader.gif" />
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 anuncios-movil-container">
                            <img class="loader-anuncios" src="~/img/loader.gif" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 esconder-banners">
                    <div class="banners-container">
                    </div>
                </div>
            </div>

            <div class="row" style="text-align: center;">
                <ul class="pagination">
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var idCategoria = -1;
    var idSubcategoria = -1;
    var idPais = -1;
    var idEstado = -1;
    var precioBajo = 0;
    var precioAlto = 1000000;
    var precioBajoActual = -1;
    var precioAltoActual = -1;
    var tamanosRedistribuidos = false;

    $(document).ready(function () {
        setSlider();
        getAnunciosDestacados();
        getAnunciosDestacadosMovil();
        recalcularTamanos();
        getBannerCentral();
        getBannersLaterales();
    });

    function getAnunciosDestacados() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/AnunciosDestacadosPartial',
            success: function (result) {
                $(".anuncios-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    function getAnunciosDestacadosMovil() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/AnunciosDestacadosMovilPartial',
            success: function (result) {
                $(".anuncios-movil-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    function fotosClick(id) {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/GaleriaAnuncio?id=' + id,
            success: function (result) {
                $(".carrusel-imagenes-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    function setSlider() {
        var slider = document.getElementById('slider');

        noUiSlider.create(slider, {
            start: [0, 500000],
            step: 100,
            margin: 50,
            connect: true,
            range: {
                'min': 0,
                'max': 500000
            }
            ,
            format: wNumb({
                thousand: ',',
                decimals: 0
            })
        });

        valueIzq = document.getElementById('value-izq'),
        valueDer = document.getElementById('value-der');

        slider.noUiSlider.on('update', function (values, handle) {
            var moneyFormat = wNumb({
                thousand: ','
            });

            if (!handle) {
                precio = values[handle];
                precioBajoActual = moneyFormat.from(precio);
                valueIzq.innerHTML = values[handle];
            } else {
                precio = values[handle];
                precioAltoActual = moneyFormat.from(precio);
                valueDer.innerHTML = values[handle];
            }
        });
    }

    $(window).resize(function () {
        if (!tamanosRedistribuidos) {
            recalcularTamanos();
        }
    });

    function redistribuirTamanos() {
        $('.expander-3').removeClass('col-sm-3').addClass('col-sm-4');
        $('.expander-6').removeClass('col-sm-6').addClass('col-sm-8');
        $('.esconder-banners').hide();
        tamanosRedistribuidos = true;
    }

    function recalcularTamanos() {
        var width = $(window).innerWidth();
        if (width <= 1000) {
            $('.expander-3').removeClass('col-sm-3').addClass('col-sm-4');
            $('.expander-6').removeClass('col-sm-6').addClass('col-sm-8');
            $('.esconder-banners').hide();
            return;
        }
        $('.expander-3').removeClass('col-sm-4').addClass('col-sm-3');
        $('.expander-6').removeClass('col-sm-8').addClass('col-sm-6');
        $('.esconder-banners').show();
    }

    $("#btn-categoria").click(function () {
        getCategorias();
    });

    $("#btn-pais").click(function () {
        getPaises();
    });

    $("#btn-precio").click(function () {
        precioBajo = precioBajoActual;
        precioAlto = precioAltoActual;
        getAnunciosDestacadosFiltrados();
    });

    function categoriasClick(elemento) {
        if (elemento.data('id') == idCategoria) {
            return;
        }
        if (idSubcategoria != -1) {
            $("#btn-subcategoria:first-child").html("Subcategor&iacute;a" + '<span class="caret"></span>');
            idSubcategoria = -1;
        }
        idCategoria = elemento.data('id');
        if (idCategoria == -1) {
            $("#btn-categoria:first-child").html("Categor&iacute;a" + '<span class="caret"></span>');
            $("#subcategorias").html('<li><a href="#">Elige una categoría...</a></li>');
        }
        else {
            $("#btn-categoria:first-child").html(elemento.text() + '<span class="caret"></span>');
            getSubcategorias(idCategoria);
        }
        getAnunciosDestacadosFiltrados();
    }

    function subcategoriasClick(elemento) {
        idSubcategoria = elemento.data('id');
        if (idSubcategoria == -1) {
            $("#btn-subcategoria:first-child").html("Subcategor&iacute;a" + '<span class="caret"></span>');
        }
        else {
            $("#btn-subcategoria:first-child").html(elemento.text() + '<span class="caret"></span>');
        }
        getAnunciosDestacadosFiltrados();
    }

    function paisesClick(elemento) {
        if (elemento.data('id') == idPais) {
            return;
        }
        if (idEstado != -1) {
            $("#btn-estado:first-child").html("Estado" + '<span class="caret"></span>');
            idEstado = -1;
        }

        idPais = elemento.data('id');
        if (idPais == -1) {
            $("#btn-pais:first-child").html("Pa&iacute;s" + '<span class="caret"></span>');
            $("#estados").html('<li><a href="#">Elige un país...</a></li>');
        }
        else {
            $("#btn-pais:first-child").html(elemento.text() + '<span class="caret"></span>');
            getEstados(idPais);
        }
        getAnunciosDestacadosFiltrados();
    }

    function estadosClick(elemento) {
        if (elemento.data('id') == idEstado) {
            return;
        }

        idEstado = elemento.data('id');
        if (idEstado == -1) {
            $("#btn-estado:first-child").html("Estado" + '<span class="caret"></span>');
        }
        else {
            $("#btn-estado:first-child").html(elemento.text() + '<span class="caret"></span>');
        }
        getAnunciosDestacadosFiltrados();
    }

    function getBannerCentral() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/BannerCentralPartial',
            success: function (result) {
                $(".banner-central-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    function getBannersLaterales() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/BannersLateralesPartial',
            success: function (result) {
                $(".banners-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    function getCategorias() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/CategoriasPartial',
            success: function (result) {
                $("#categorias").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en categorias: " + msg);
            }
        });
    }

    function getSubcategorias(id) {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/SubcategoriasPartial?idCategoria=' + id,
            success: function (result) {
                $("#subcategorias").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en subcategorias: " + msg);
            }
        });
    }

    function getPaises() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/PaisesPartial',
            success: function (result) {
                $("#paises").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en paises: " + msg);
            }
        });
    }

    function getEstados(id) {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/EstadosPartial?idPais=' + id,
            success: function (result) {
                $("#estados").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en estados: " + msg);
            }
        });
    }

    function getAnunciosDestacadosFiltrados() {
        $('.anuncios-container').html('<img class="loader-anuncios" src="/img/loader.gif" />');
        $('.anuncios-movil-container').html('<img class="loader-anuncios" src="/img/loader.gif" />');

        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/DestacadosFiltradosPartial?idCategoria=' + idCategoria + "&idSubcategoria=" + idSubcategoria + "&idPais=" + idPais + "&idEstado=" + idEstado + "&precioBajo=" + precioBajo + "&precioAlto=" + precioAlto,
            success: function (result) {
                $(".anuncios-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en filtros: " + msg);
            }
        });

        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/DestacadosFiltradosMovilPartial?idCategoria=' + idCategoria + "&idSubcategoria=" + idSubcategoria + "&idPais=" + idPais + "&idEstado=" + idEstado + "&precioBajo=" + precioBajo + "&precioAlto=" + precioAlto,
            success: function (result) {
                $(".anuncios-movil-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
            }
        });
    }

    $(window).scroll(function () {
        if ($(window).width() <= 767) return;

        if ($(this).scrollTop() > 340) {
            var offsetAnuncios = offsetBottom(".expander-6");
            var offsetBanners = offsetBottom(".esconder-banners");
            if(offsetAnuncios >= offsetBanners)
                $('.banners-container').addClass('banners-fixed');
            var offsetBusqueda = offsetBottom(".expander-3");
            if(offsetAnuncios >= offsetBusqueda || offsetAnuncios <= offsetBanners)
                $('.busqueda-fixed-container').addClass('busqueda-fixed');
        } else {
            $('.banners-container').removeClass('banners-fixed');
            $('.busqueda-fixed-container').removeClass('busqueda-fixed');
        }
    });

    function offsetBottom(el, i) { i = i || 0; return $(el)[i].getBoundingClientRect().bottom }
</script>
