@model VendeAgroWeb.Models.Pagina.OfertasDelDiaViewModel

@{
    ViewBag.Title = "Ofertas del día";
}

<div class="row">
    <div class="col-sm-12">
        <div class="ofertas-del-dia-container">
            <h2>¡Ofertas del día!</h2>
            <div class="ofertas-anuncios-container">
                <img src="~/img/loader.gif" class="loader-anuncios" />
            </div>
        </div>
    </div>
</div>
<script>window.jQuery || document.write('<script src="/Scripts/jquery-1.10.2.js"><\/script>')</script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Home/OfertasDelDiaPartial',
            success: function (result) {
                $(".ofertas-anuncios-container").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en anuncios desktop: " + msg);
            }
        });
    });
</script>