@model VendeAgroWeb.Models.Pagina.OfertasDelDiaViewModel

@{
    ViewBag.Title = "Ofertas del día";
}

<div class="ofertas-del-dia-container">
    <h2>¡Ofertas del día!</h2>
    <div class="ofertas-anuncios-container">
        <div class="col-sm-4 col-md-3">
            <div class="anuncio-movil col-xs-12">
                <div class="row">
                    <div class="movil-anuncio-imagen-container">
                        <a><img class="foto-anuncio" src="~/img/yegua.jpg" /></a>
                    </div>
                    <div class="movil-anuncio-titulo ofertas-anuncio-titulo">
                        <div class="row anuncio-titulo">
                            <p class="titulo">Yegua española</p>
                            <p class="precio">$150,000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="anuncio-movil col-xs-12">
                <div class="row">
                    <div class="movil-anuncio-imagen-container">
                        <a><img class="foto-anuncio" src="~/img/yegua.jpg" /></a>
                    </div>
                    <div class="movil-anuncio-titulo ofertas-anuncio-titulo">
                        <div class="row anuncio-titulo">
                            <p class="titulo">Yegua española</p>
                            <p class="precio">$150,000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="anuncio-movil col-xs-12">
                <div class="row">
                    <div class="movil-anuncio-imagen-container">
                        <a><img class="foto-anuncio" src="~/img/yegua.jpg" /></a>
                    </div>
                    <div class="movil-anuncio-titulo ofertas-anuncio-titulo">
                        <div class="row anuncio-titulo">
                            <p class="titulo">Yegua española</p>
                            <p class="precio">$150,000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="anuncio-movil col-xs-12">
                <div class="row">
                    <div class="movil-anuncio-imagen-container">
                        <a><img class="foto-anuncio" src="~/img/yegua.jpg" /></a>
                    </div>
                    <div class="movil-anuncio-titulo ofertas-anuncio-titulo">
                        <div class="row anuncio-titulo">
                            <p class="titulo">Yegua española</p>
                            <p class="precio">$150,000</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
</div>