@model VendeAgroWeb.Models.Pagina.PagoCarritoTarjetasViewModel

@{
    ViewBag.Title = "Pagar";
}

<div id="myModal" class="modal fade" role="dialog" style="z-index:2000;
top:50% !important;
transform:translate(0, -50%);
-moz-transform:translate(0, -50%);
-webkit-transform:translate(0, -50%);
-o-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
overflow-y:hidden !important;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">&iquest;Esta seguro?</h4>
            </div>
            <div class="modal-body">
                <p>Se le realizar&aacute; un cargo por:  </br><span style="font-size:20px;font-weight:bolder;">$@Model.Total MXN</span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="aceptar-pago">Aceptar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>

    </div>
</div>
<div class="procesando-pago-carrito procesando-pago col-sm-11">
    <div class="procesando-pago-contenido proceso-pago-contenido-carrito">
        <h3 style="text-align:center;">Estamos agregando tu tarjeta, favor de no recargar la p&aacute;gina.</h3>
        <img class="loader-anuncios" src="~/img/loader.gif" />
        <input type="hidden" id="valid" value="100" />
    </div>
</div>
<div class="procesando-pago-carrito col-sm-11">
    <div class="procesando-pago-contenido proceso-pago-contenido-carrito">
        <h3 style="text-align:center;">Estamos procesando tu pago, favor de no recargar la p&aacute;gina.</h3>
        <img class="loader-anuncios" src="~/img/loader.gif" />
        <input type="hidden" id="valid" value="100" />
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-sm-12">
        <div class="col-sm-6 col-sm-offset-3" style="margin-top: 30px; text-align: center;">
            <div class="pasos-pago">
                <div class="col-sm-12 primer-paso-pago">
                    <div class="primer-paso-contenedor" style="width:100% !important;">
                        <div class="pasos-texto">
                            <span class="numero-pasos-pago">2</span>
                            <p>Seleccionar Tarjeta</p>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="mi-cuenta-titulo">Mis Tarjetas</h2>
            @{
                if (Model.Usuario.Tarjetas.Count() <= 0)
                {
                    <div class="row">
                        <p class="pago-carrito-tarjetas-texto" style="text-align: center;">No tienes registrada ninguna tarjeta para realizar el pago.</p>
                        <a id="btn-agregar-tarjeta" class="btn pagar-boton agregar-tarjeta-pago botones-grad" style="width: 100%; margin-top: 20px; margin-bottom: 25px; color: white;">Agregar Tarjeta</a>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3" style="margin-top: 30px;">

                            <table class="lista-tarjetas table table-responsive">
                                <tbody>
                                    @{
                                        foreach (var item in Model.Usuario.Tarjetas)
                                        {
                                            <tr>
                                                @{
                                                    <td>
                                                        <div class="radio">
                                                            <input type="radio" id="radio" name="tarjeta" value="@item.IdConekta">
                                                        </div>
                                                    </td>
                                                    if (item.Tipo == VendeAgroWeb.Models.Pagina.TarjetaTipo.MasterCard)
                                                    {
                                                        <td class="data-tarjetas"><img style="width: 18%;" src="~/img/mastercard.png" /></td>
                                                    }
                                                    else
                                                    {
                                                        if (item.Tipo == VendeAgroWeb.Models.Pagina.TarjetaTipo.Visa)
                                                        {
                                                            <td class="data-tarjetas"><img style="width: 17%;" src="~/img/visa.png" /></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="data-tarjetas"><img style="width: 12%;" src="~/img/amex.png" /></td>
                                                        }
                                                    }
                                                    <td style="min-width:120px;"><span>************</span> @item.Digitos</td>
                                                }
                                            </tr>
                                                    }
                                    }
                                </tbody>
                            </table>
                        </div>
                        <a id="btn-agregar-tarjeta" class="btn pagar-boton agregar-tarjeta-pago botones-grad" style="width: 100%; margin-top: 20px; margin-bottom: 25px; color: white;">Nueva Tarjeta</a>
                    </div>
                                                    }

            }
            <div class="row">
                <div class="alert alert-danger" id="error-pago" style="display:none;">
                </div>
            </div>
            <div id="forma-tarjeta-nueva" style="display: none; margin-top: 30px;">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 class="mi-cuenta-titulo" style="text-align: center;">Nueva Tarjeta</h2>
                        <div class="row tarjeta" style="margin-left: 0px; margin-right: 0px; margin-top:20px; font-size: 16px;">
                            <div class="alert alert-danger error-tarjeta">

                            </div>
                            <form class="form-horizontal" id="forma-pago">
                                <input class="form-control" id="id-usuario" value="@Model.Usuario.Id" style="display: none;" />
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input class="form-control" data-openpay-card="holder_name" id="nombre-tarjeta" placeholder="Nombre en la tarjeta" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <input class="form-control" data-openpay-card="card_number" id="numero" placeholder="N&uacute;mero de la tarjeta" />
                                    </div>
                                    <div class="col-sm-6">
                                        <input class="form-control" data-openpay-card="cvv2" id="codigo" type="number" placeholder="C&oacute;digo de seguridad" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <h4>Fecha de vencimiento</h4>
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" data-openpay-card="expiration_month" type="number" id="mes" placeholder="Mes" />
                                    </div>
                                    <div class="col-sm-2">
                                        <input class="form-control" data-openpay-card="expiration_year" type="number" id="anio" placeholder="A&ntilde;o" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="row">
                                <a id="btn-nueva-tarjeta" class="btn btn-default botones-grad agregar-tarjeta-boton pagar-boton" style="color:white;">Agregar Tarjeta</a>
                            </div>
                            <div class="row">
                                <a id="cancelar-agregar-tarjeta" class="btn btn-default agregar-tarjeta-boton pagar-boton" style="margin-bottom: 20px;">Cancelar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="checkbox" class="terminos" name="terminos"> <label style="font-size:20px;" for="terminos">Acepto los <a target="_blank" href="~/Content/Terminos_Condiciones.pdf">T&eacute;rminos y condiciones</a></label>
            <a id="pagar" class="btn btn-primary agregar-tarjeta-boton pagar-boton">Pagar</a>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script type="text/javascript"
        src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
<script type='text/javascript'
        src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
<script>
    $(document).ready(function () {
        OpenPay.setId('m4tpnfpemahz4tgdvadb');
        OpenPay.setApiKey('pk_69eeee9e23b947a5b5dd565cfd810e3a');
        OpenPay.setSandboxMode(true);
        var deviceSessionId = OpenPay.deviceData.setup("forma-pago", "deviceIdHiddenFieldName");
        $('.primer-paso-contenedor').css("background-color", "#0275d8");
        $('.primer-paso-contenedor .pasos-texto').css("color", "white");
        $("#numero").mask("9999-9999-9999-9999");
    });

    $("#btn-agregar-tarjeta").click(function () {
        $('#forma-tarjeta-nueva').show('');
        $("#btn-agregar-tarjeta").hide();
    });

    $("#cancelar-agregar-tarjeta").click(function () {
        $('#forma-tarjeta-nueva').hide();
        $("#btn-agregar-tarjeta").show('');
    });

    $("#pagar").click(function () {
        var valido = true;
        var tarjeta = $('input[name=tarjeta]:checked').val();
        var error = '';

        if (!$(".terminos").is(':checked')) {
            valido = false;
            error += ' -Debes aceptar los t&eacute;rminos y condiciones </br>';
        }

        if (typeof tarjeta == "undefined") {
            valido = false;
            error += ' -Debes seleccionar una tarjeta. </br>';
        }

        if (!valido) {
            $("#error-pago").append('<strong>Error:</strong> </br>');
            $("#error-pago").append(error);
            $("#error-pago").show('');
            return;
        }

        $("#valid").val('200');
        abrirModalPago(1);
      });

    $("#btn-nueva-tarjeta").click(function () {
        var nombre = $("#nombre-tarjeta").val();
        var num = $("#numero").unmask();
        var numero = num.val();
        var codigo = $("#codigo").val();
        var mes = $("#mes").val();
        var anio = $("#anio").val();
        var valido = true;
        var cadenaError = "<strong>Error:</strong> </br>";

        if (nombre.length < 5) {
            valido = false;
            cadenaError += "    - Introduzca un nombre v&aacute;lido. </br>";
            $("#nombre-tarjeta").addClass("has-error");
        }
        else {
            $("#nombre-tarjeta").removeClass("has-error");
        }

        if (!(OpenPay.card.validateCardNumber(numero))) {
            valido = false;
            cadenaError += "    - Introduce un n&uacute;mero de tarjeta v&aacute;lido. </br>";
            $("#numero").mask("9999-9999-9999-9999");
            $("#numero").addClass("has-error");
        }
        else {
            $("#numero").removeClass("has-error");
            $("#numero").mask("9999-9999-9999-9999");
        }

        if (!(OpenPay.card.validateCVC(codigo, numero))) {
            valido = false;
            cadenaError += "    - Introduce un c&oacute;digo de seguridad v&aacute;lido. </br>";
            $("#codigo").addClass("has-error");
        }
        else {
            $("#codigo").removeClass("has-error");
        }

        if (!(OpenPay.card.validateExpiry(mes, normalizeYear(anio)))) {
            valido = false;
            cadenaError += "    - Introduce una fecha de vencimiento v&aacute;lida. </br>";
            $("#mes").addClass("has-error");
            $("#anio").addClass("has-error");
        }
        else {
            $("#mes").removeClass("has-error");
            $("#anio").removeClass("has-error");
        }

        if (!valido) {
            $(".error-tarjeta").html(cadenaError).show('');
            return;
        }

        $(".error-tarjeta").hide('');
        var num = $("#numero").unmask();
        console.log("device id: " + deviceSessionId);
        var deviceSessionId = OpenPay.deviceData.setup("forma-pago", "deviceIdHiddenFieldName");
        $(".procesando-pago").show();
        OpenPay.token.extractFormAndCreate('forma-pago', success_callback, error_callback);
    });

    var success_callback = function (token) {
        var sessionId = $("#deviceIdHiddenFieldName").val();
        var idUsuario = $('#id-usuario').val();

        $.ajax({
            type: 'POST',
            data: { id: idUsuario, tokenTarjeta: token.data.id, sessionId: sessionId },
            url: '/Portal/AgregarTarjeta',
            success: function (response) {
                response = JSON.parse(response);
                if (response.Exitoso) {
                    location.reload();
                    return;
                }
                else {
                    $("#error-pago").html(response.Mensaje).show('');
                    $(".procesando-pago").hide();
                    return;
                }
            },
            error: function (err) {
                $("#error-pago").html("Error en el servidor, vuelva a intentarlo de nuevo en unos minutos").show('');
                $(".procesando-pago").hide();
                return;
            }
        });
        return;
    };

    $('#myModal').on('hidden.bs.modal', function () {
        $("#valid").val('500');
    })

    $("#aceptar-pago").click(function () {
        var val = $("#valid").val();
        if (val != 200) return;
        $(".procesando-pago-carrito").show();
        abrirModalPago(1);
        var sessionId = $("#deviceIdHiddenFieldName").val();
        var idUsuario = $('#id-usuario').val();

        $.ajax({
            type: 'POST',
            data: { id: idUsuario, tokenTarjeta: $('input[name=tarjeta]:checked').val(), sessionId: sessionId },
            url: '/Portal/RealizarCargo',
            success: function (response) {
                console.log(response);
                response = JSON.parse(response);
                if (response.Exitoso) {
                    window.location = "/Home/PagoRecibido?resultado=" + response.Resultado + "&numero=" + response.NoPedido + "&autorizacion=" + response.Autorizacion + "&monto=" + response.Monto;
                    return;
                }
                else {
                    $(".procesando-pago-carrito").hide('');
                    $("#error-pago").html(response.Mensaje).show('');
                    return;
                }
            },
            error: function (err) {
                $(".procesando-pago-carrito").hide('');
                $("#error-pago").html().show("Error en el servidor, vuelva a intentarlo de nuevo en unos minutos");
                return;
            }
        });
    });

    var error_callback = function (response) {
        var desc = response.data.description != undefined ?
        response.data.description : response.message;
        console.log("error: " + desc);
        $(".procesando-pago").hide();
        $(".error-tarjeta").html(desc).show('');
        return;
    };

    function normalizeYear(anio) {
        if (anio.length === 4) return anio;

        if (anio.length != 2) return anio;

        var d = new Date();
        var n = d.getFullYear().toString();
        var dig = n.substr(0, 2);
        console.log(dig);
        return dig + anio;
    }
</script>
