@font-face {
    font-family: generalFont;
    src: url('../fonts/Nexa Light.otf');
}

@font-face {
    font-family: BoldFont;
    src: url('../fonts/Nexa Bold.otf');
}

.menu-grad {
  background: #F6AB21 !important;
  background: -webkit-radial-gradient(circle rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important; 
  background: -o-radial-gradient(circle rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important; 
  background: -moz-radial-gradient(rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important; 
  background: radial-gradient(circle rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important;
}

.botones-grad {
  background: #abc114 !important;
  background: -webkit-radial-gradient(circle rgb(180, 195, 53), rgb(161, 195, 64), rgb(152, 194, 68)) !important; 
  background: -o-radial-gradient(circle rgb(180, 195, 53), rgb(161, 195, 64), rgb(152, 194, 68)) !important; 
  background: -moz-radial-gradient(rgb(180, 195, 53), rgb(161, 195, 64), rgb(152, 194, 68)) !important; 
  background: radial-gradient(circle rgb(180, 195, 53), rgb(161, 195, 64), rgb(152, 194, 68)) !important;
}


body {
    font-family: generalFont;
    height: 100vh;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

.footer-container {
    height: 80px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 1041;
}

footer {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

footer p {
    text-align: center;
    color: #cb5a20;
    margin-bottom: 0px;
    font-size: 13px;
}

h3 {
    font-family: generalFont;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 110px;
    width: 95%;
    padding-top: 130px;
}

.administrador.body-content {
    padding-top: 0px;
}

.administrador .logo-container {
    height: 100%;
}

.dl-horizontal dt {
    white-space: normal;
}

.home-body-container {
    margin-left: 0px;
}

a {
    cursor: pointer;
}

.forma-busqueda {
    padding: 15px 0px 0px 0px;
}

.menu-redondeado-container{
    width:100%;
    position: fixed;
    z-index: 1041;
    top: 0;
}

.menu-container {
    position: relative;
    border-radius: 134%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 105%;
    min-height: 125px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    filter: drop-shadow(0px -1px 6px #585858);
}

.menu-contenedor-content{
    width: 100vw;
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

.menu-row {
    margin: 0px !important;
}

.menu-tabs {
    list-style: none;
    padding-left: 0px;
    font-size: 21px;
    margin-top: 5px;
    width: auto;
    display: inline-block;
    left: 50%;
    position: relative;
    transform: translate(-50%,0);
}

    .menu-tabs li:nth-child(1) {
        padding-left: 0px;
    }

    .menu-tabs li {
        float: left;
        padding: 16px;
    }

        .menu-tabs li a {
            color: #cb5a20;
        }

        .menu-tabs li a:hover {
            color: #cb5a20;
            text-decoration: none;
        }

.logo-container {
    width: 29%;
    position: absolute;
    height: 75%;
}

    .logo-container a {
        width: 100%;
        height: 100%;
    }

        .logo-container a img {
            width: 72%;
            position: relative;
            left: 45%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

.login-menu-container ul {
    padding: 15px 15px 0px 0px;
}

    .login-menu-container ul li a {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 10px;
        line-height: 20px;
        padding-left: 10px;
        font-size: 16px;
        color: white;
    }

.menu-movil-container {
    display: none;
    position: fixed;
    top:0;
    z-index: 100;
}

.menu-buscar-texto {
    border-width: 0px !important; 
    -webkit-box-shadow: none !important;
    -ms-box-shadow: none !important;
    -o-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #04612d !important;
    background-color: rgba(255,255,255, 0.7) !important;
    font-size: 17px !important;
}

.menu-buscar-texto::-webkit-input-placeholder {
    color: #04612d !important;
}

.menu-buscar-texto {
    background-color: rgba(255,255,255, 0.8) !important;
}

.menu-movil-top {
    height: 39px;
}

.menu-movil-container .menu-tabs li {
    padding: 8px 13px 0px 0px !important;
}

    .menu-movil-container .menu-tabs li a {
        font-size: 12px !important;
    }

.movil-forma-busqueda .busqueda .glyphicon{
    font-size: 12px !important;
}

.menu-movil-container .carrito {
    margin-top: 1px;
    padding: 6px !important;
}

.menu-movil-container .carrito span{
    font-size: 12px;
}

.logo-movil {
    width: 100%;
}

    .logo-movil img {
        width: 66%;
    }

.logo-movil-container {
    top: 60%;
    position: relative;
    transform: translate(0,-50%);
}

.login-menu-movil-container ul {
    float:right;
    margin-right: 5px;
}

    .login-menu-movil-container ul li {
        display: table-cell;
        float: left;
    }

        .login-menu-movil-container ul li a {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 10px;
            line-height: 20px;
            padding-left: 10px;
            font-size: 12px;
            color:white;
        }

.modal-registro-container {
    overflow-x: hidden; 
    height: 100%; 
    width: 750px !important;
}

.modal-registro {
    position: relative !important;
    border-radius: 134% !important;
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    width: 143% !important;
    min-height: 94%;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
    -webkit-transform: translate(-50%, 0) !important;
    -moz-transform: translate(-50%, 0) !important;
    -ms-transform: translate(-50%, 0) !important;
    -o-transform: translate(-50%, 0) !important;
    filter: drop-shadow(0px -1px 6px #585858) !important;
}

.campos-registro {
    height: 44px;
    border-radius: 10px; 
    background-color: rgba(255,255,255,0.6); 
    color: #04612d;
    font-size: 16px;    
}

    .campos-registro::-webkit-input-placeholder {
       color: #04612d; 
       font-size: 16px;    
    }

.registrar-boton {
    padding-left: 42px;
    padding-right: 30px;
    color: white !important;
    font-size: 16px;
    border: none;
    height: 38px;
    box-shadow: 0px 0px 10px 2px #6E6E6E;
    border-radius: 10px;
}

.registrate-texto {
    font-size: 16px;
    color: white;
}

#facebook {
    border-color: #2d5073;
    background-color: #3b5998;
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    
}

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
 div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    display: block;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family:"Merriweather Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    width: 160px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, .5) -1px -1px 0;
}

.expander-3 {
    padding-left: 0px !important;
}

.busqueda-avanzada-container {
    background-color: rgba(180,195,53,0.7);
    padding-bottom: 20px;
}

    .busqueda-avanzada-container h3 {
        margin: 20px 10px 10px 10px;
        font-size: 20px;
    }

.busqueda-dropdown {
    padding-top: 8px;
    padding-bottom: 8px;
}    

.busqueda-dropdown button {
    color: #333;
}

.dropdown {
    margin-bottom: 23px;
    font-size: 18px;
}

    .dropdown button {
        width: 100%;
        border: none !important;
        font-weight: bolder;
        color: white;
        font-size: 18px;
        box-shadow: -2px 3px 10px #585858;
    }

    .dropdown .dropdown-menu {
        width: 100%;
        text-align: center;
    }

    .dropdown button .caret {
        position: absolute;
        right: 12%;
        top: 50%;
        transform: translate(0, -50%);
        border-top: 10px solid white !important;
        border-right: 8px solid transparent !important;
        border-left: 8px solid transparent !important;
    }

.slider-container {
    margin-top: 10px;
}

.price-container {
    position: relative;
    min-height: 25px;
    margin: 0 !important;
}

.noUi-connect {
  background: #F6AB21 !important;
  background: -webkit-radial-gradient(circle rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important; 
  background: -o-radial-gradient(circle rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important; 
  background: -moz-radial-gradient(rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important; 
  background: radial-gradient(circle rgb(252, 194, 60), rgb(246, 169, 61), rgb(244, 157, 61)) !important;
}

.noUi-handle {
    background: #E42B22 !important;
    border: none !important;
    box-shadow: none !important;
}

.precio-izq {
    color: #04612d;
    position: absolute;
    left: 5px;
}

.precio-der {
    color: #04612d;
    position: absolute;
    right: 5px;
}

.titulos {
    padding-top: 13px;
    padding-bottom: 13px;
}

    .titulos h3 {
        margin: 0px;
        font-size: 20px;
    }

.busqueda {
    border:none;
    color: white;
}

    .busqueda .glyphicon {
        width: 2em !important;
        font-size: 16px;
    }

.busqueda-titulo-container {
    background-color: rgba(180,195,53,0.7);
}

    .busqueda-titulo-container h3 {
        color: #04612d;
    }

.carrito {
    color: white;
}

.carrito .glyphicon {
    width: 3em !important;
    font-size: 17px;
}

.botones-shadow {
    box-shadow: 0px 0px 7px 1px #6E6E6E;
    border-radius: 4px !important;
    border: none !important;
}

.anunciate-container section {
    height: 100vh;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.anunciate-texto-container {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
}

    .anunciate-texto-container p {
        font-size: 16px;
        color: #04612d;
    }

.anunciate-img {
    width: 150px;
    padding-bottom: 8px;
    padding-left: 4px;
}

.destacados-titulo-container {
    background-color: #F6AB21;
    color: white;
}

.anuncio-desktop {
    margin-top: 20px;
    box-shadow: 0 4px 10px -7px gray;
}

.anuncio-container {
    box-shadow: 0px 5px 23px -1px gray;
}

.anuncio-contenido {
    padding-bottom: 10px;
    box-shadow: 0 4px 10px -7px gray;
}

    .anuncio-contenido a img {
        width: 100%;
        cursor:pointer;
        transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);    
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transition: all 0.5s ease-in;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
    }

    .anuncio-container img:hover{
         transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
    }

    .anuncio-contenido .titulo {
        margin: 0px;
        font-size: 15px;
        color: #04612d;
    }

.informacion-container {
    margin-top: 10px;
}

    .informacion-container .informacion {
        font-size: 15px;
        color: #04612d;
        font-family: BoldFont;
    }

.anuncio-botones-container {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 34px;
    bottom: 18px;
}

.anuncio-boton {
    color: white;
    font-size: 15px;
    border: none;
}

.anuncio-preguntar {
    margin-bottom: 10px;
    display: inherit;
}

.anuncio-detalles{
    padding-left: 19px;
    padding-right: 19px;
}

.anuncio-titulo {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #04612d;
    position: relative;
    min-height: 25px;
    margin: 0 !important;
}

    .anuncio-titulo p {
        margin-bottom: 0;
        color: white;
        font-size: 19px;
        text-transform: capitalize;
        font-family: BoldFont;
    }

    .anuncio-titulo .titulo {
        position: absolute;
        left: 0;
        padding: 0px 0px 1px 15px;
    }

    .anuncio-titulo .precio {
        position: relative;
        float: right;
        padding: 1px 15px 1px 0px;
    }

.anuncio-contenido .imagen-container {
    padding-left: 0px;
    width: auto;
    display: inline-block;
    float: left;
    width: 225px;
    height: 177px;
    overflow: hidden;
    margin-left: 11px;
    margin-top: 11px;
}

    .anuncio-contenido .imagen-container img {
        width: 100%;
        height: 100%;
    }

.anuncio-contenido p {
    font-size: 12px;
}

.banner-central-container {
    padding-left: 0px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

.banner-central span {
    width: 100%;
    display: inline-block;
}

    .banner-central span a {
        width: 100%;
        display: inline-block;
    }

        .banner-central span a img{
            height: 200px;
            width: 100%;
        }

.banner-lateral {
    margin-top: -52px;
    float: right;
    width: 92%
}

    .banner-lateral img {
        width: 100%;
    }

.detalles {
  color: white;
  background-color: #04612d;
}

    .detalles:hover {
        color: white;
        background-color: #04612d;
    }

.preguntar {
    margin-top: 10px;
    font-size: 14px;
}

.acciones-container {
    float: right;
}

.login-logo-container {
    text-align: center;
}

    .login-logo-container .logo {
        margin-top: 30px;
    }

    .login-logo-container img {
        width: 15%;
    }

.login-form {
    margin-top: 30px;
    position: relative;
}

    .login-form .login-field-icon {
        color: #bfc9ca;
        font-size: 16px;
        position: absolute;
        right: 15px;
        top: 9px;
        -webkit-transition: 0.25s;
        -moz-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        transition: 0.25s;
    }

    .login-form .form-group {
        position: relative;
    }

.login-boton-container {
    text-align: center;
}

.btn-login {
    padding: 7px 0px !important;
    width: 100%; 
    text-align: center;
}

.menu-administrador-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100px;
    left: 0;
}

    .menu-administrador-container logo-container {
        position: fixed;
        z-index: 1500;
        width: auto;
        top: 15px;
        left: 5%;
    }

    .menu-administrador-container .logo-home {
        display: inline-block;
        width: 60%;
        min-width: 222px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }

    .menu-administrador-container .boton-container {
        z-index: 1000;
        width: auto;
        display: table;
        content: "";
        right: 50px;
        top: 14px;
        position: absolute;
    }

    .menu-administrador-container .menu-boton {
        font-size: 50px;
        position: relative;
        transition: color 0.5s ease;
        -webkit-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
        -moz-transition: color 0.5s ease;
        -o-transition: color 0.5s ease;
        cursor: pointer;
    }

    .menu-administrador-container .menu-boton:hover {
        text-decoration: none;
        color: rgba(0,0,0,0.6);
    }

    .menu-administrador-container .cafe {
        color: black;
    }

    .menu-administrador-container .menu {
        padding-left: 15px;
        padding-right: 15px; 
        height: 100vh;
        width: 300px;
        z-index: 999;
        position: fixed;
        top: 0;
        background: rgba(224,201,159,1);
        transition: right 0.5s ease;
        -webkit-transition: right 0.5s ease;
        -moz-transition: right 0.5s ease;
        -ms-transition: right 0.5s ease;
        -o-transition: right 0.5s ease;
    }

    .menu-administrador-container .abierto {
        right: 0px;
    }

    .menu-administrador-container .cerrado {
        right: -320px;
    }

    .menu-administrador-container .opciones {
        margin-top: 50px !important;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .menu-administrador-container .menu-opciones {
        padding: 0px;
        list-style: none;
        width: 100%;
        border-top: solid 1px black;
    }

        .menu-administrador-container .menu-opciones li:hover {
            background-color: black;
            cursor: pointer;
        }

        .menu-administrador-container .menu-opciones li {
            padding-left: 20px;
            border-bottom: solid 1px black;
            padding: 10px;
            color: white;
            text-transform: uppercase;
            transition: background-color 0.5s ease;
            -webkit-transition: background-color 0.5s ease;
            -moz-transition: background-color 0.5s ease;
            -ms-transition: background-color 0.5s ease;
            -o-transition: background-color 0.5s ease;
        }

            .menu-administrador-container .menu-opciones li > a {
                cursor: pointer;
                color: black;
                text-decoration: none;
                transition: color 0.5s ease;
                -webkit-transition: color 0.5s ease;
                -moz-transition: color 0.5s ease;
                -ms-transition: color 0.5s ease;
                -o-transition: color 0.5s ease;
            }

                .menu-administrador-container .menu-opciones li:hover > a {
                    text-decoration: none;
                    color: white !important;
                }

.btn-5-caracteres {
    padding-left: 48px;
    padding-right: 48px;
}

.btn-7-caracteres {
    padding-left: 46px;
    padding-right: 46px;
}

.btn-8-caracteres {
    padding-left: 39px;
    padding-right: 39px;
}

.btn-9-caracteres {
    padding-left: 38px;
    padding-right: 38px;
}

.btn-10-caracteres {
    padding-left:35px;
    padding-right: 35px;
}

.btn-13-caracteres {
    padding-left: 23px;
    padding-right: 23px;
}

.hide-modificar {
    display:none;
}

.agregar-categoria-container h2 {
    text-align: center;
    text-transform: capitalize;
}

.boton-guardar-container {
    display: table; 
    width: 100%;
    margin-bottom: 0px;
}

.error-row {
    display:none;
}

.hide-anuncios-de-categoria {
    display: none;
}

.hide-anuncios-de-subcategoria{
    display: none;
}

.hide-anuncios-de-usuario{
    display: none;
}

.anuncio-movil {
    position: relative;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 0px gray;
}

.movil-anuncio-titulo {
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0px;
}

    .movil-anuncio-titulo .anuncio-titulo {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .movil-anuncio-titulo .anuncio-titulo p{
        font-size: 14px;
        color: #04612d;
    }


.anuncios-movil-container {
 display: none;
}

.foto-anuncio {
    width: 100% !important;
}

.anuncios-container {
    display: inline-block;
}

.estatus-container{
        width: 100%;
    }

    .imagen-grande {
        width: 100%;
    }

    .img-grande-container {
        text-align: center;
        margin-bottom: 30px;
    }

    .owl-buttons {
        display: none;
    }

    .item {
        cursor: pointer;
    }

        .item.activo img {
            border: solid 2px black;
        }

    .owl-page span {
        border-radius: 20px !important;
    }

    #owl-demo{
        width: 100% !important;
    }

    #owl-demo .item {
        margin: 3px;
    }

        #owl-demo .item img {
            display: block;
            width: 100%;
            height: auto;
        }

.ofertas-del-dia-container {
    margin-top: 30px;
}

    .ofertas-del-dia-container h2{
        font-family: BoldFont !important;
        color: #cb5a20 !important;
        font-size: 26px !important;
        margin-left: 15px;
    }

.ofertas-anuncio-titulo .anuncio-titulo p {
    font-size: 14px;
}

.base {
    background: rgba(255,255,255,0.8);
    display: inline-block;
    height: 330px;
    width: 270px;
    box-shadow: -5px -4px 15px -5px #585858;
}

.base1 {
    position: relative;
    left: 100%;
    top: 0;
    transform: translate(-100%, 0);
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
}

.base2 {
    position: relative;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
}

.base3 {
    position: relative;
    top: 0;
}

.base:before {
    border-top: 50px solid rgba(255,255,255,0.8);
    border-left: 135px solid transparent;
    border-right: 135px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: 330px;
    width: 0;
}

.planes-texto-container {
    position: absolute;
    bottom: 7%;
    text-align: center;
}

    .planes-texto-container a {
        color: #F6AB21;
        font-size: 22px;
        font-family: BoldFont;
        margin-bottom: 0px;
    }

    .planes-texto-container a:hover {
        color: #F6AB21 !important;
        text-decoration: none !important;
    }

    .planes-texto-container span {
        color: #F6AB21;
        cursor: pointer;
        font-size: 21px;
    }

.footer-dummy {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 45px;
}

.anunciate-mision-container {
    background-image: url(/img/fondoVACielo.jpg);
    background-size: 100% 250%;
}

.anunciate-wrapper {
    position: relative;
    height: calc(100vh - 20px);
    border-radius: 134%;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    width: 150%;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    background-image: url(/img/fondoVA.jpg);
    filter: drop-shadow(0px -1px 6px #585858);
    background-repeat: no-repeat;
}

.anunciate-recados-container {
    min-height: 330px;
    height: auto;
    width: 100%;
    position: relative;
    top: 56%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.degradado-verde {
    margin-top: 15px;
    height: 20px;
    background: #04612d !important;
    background: -webkit-linear-gradient(to right, rgb(161, 195, 64), rgb(180, 195, 53), #04612d, rgb(161, 195, 64)) !important; 
    background: -o-linear-gradient(to right, rgb(161, 195, 64), rgb(180, 195, 53), #04612d, rgb(161, 195, 64)) !important; 
    background: -moz-linear-gradient(to right, rgb(161, 195, 64), rgb(180, 195, 53), #04612d, rgb(161, 195, 64)) !important; 
    background: linear-gradient(to right, rgb(161, 195, 64), rgb(180, 195, 53), #04612d, rgb(161, 195, 64)) !important; 
}

.degradado-rojo {
    margin-top: 15px;
    height: 20px;
    background: #E42B22 !important;
    background: linear-gradient(to right, #FFFF00,  rgb(244, 157, 61), #E42B22, rgb(244, 157, 61)) !important; 
    background: -webkit-linear-gradient(to right, #FFFF00,  rgb(244, 157, 61), #E42B22, rgb(244, 157, 61)) !important; 
    background: -o-linear-gradient(to right, #FFFF00,  rgb(244, 157, 61), #E42B22, rgb(244, 157, 61)) !important; 
    background: -moz-linear-gradient(to right, #FFFF00,  rgb(244, 157, 61), #E42B22, rgb(244, 157, 61)) !important; 
}

.degradado-naranja {
    margin-top: 15px;
    height: 20px;
    background: #F6AB21 !important;
    background: linear-gradient(to right, #FFFF00, rgb(252, 194, 60), #F6AB21, #FFFF00) !important; 
    background: -webkit-linear-gradient(to right, #FFFF00, rgb(252, 194, 60), #F6AB21, #FFFF00) !important; 
    background: -o-linear-gradient(to right, #FFFF00, rgb(252, 194, 60), #F6AB21, #FFFF00) !important; 
    background: -moz-linear-gradient(to right, #FFFF00, rgb(252, 194, 60), #F6AB21, #FFFF00) !important; 
}

.anunciate-recados-texto {
    text-align: center;
}

    .anunciate-recados-texto h2{
        font-family: generalFont;
        text-transform: uppercase;
        font-size: 43px;
        font-weight: bold;
    }

    .anunciate-recados-texto h3{
        font-family: generalFont;
        text-transform: capitalize;
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        font-size: 38px;
        font-weight: bold;
    }

    .anunciate-recados-texto ul {
        padding-left: 0px
    }

        .anunciate-recados-texto ul li {
            text-transform: capitalize;
            list-style-type: none;
            padding-left: 0px
        }

.contratar-boton {
    color: white;
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);

}

.contacto-form form-group {
    position: relative; 
    margin-bottom:22px !important;
}

.forma-contacto-container {
    position: absolute !important;
    right: 0;
    top: 50% !important;
    background-color: rgba(255,255,255,0.7); 
    min-height: 415px; 
    box-shadow: 0px 0px 10px 1px #6E6E6E;
    width: 545px;
    padding-left: 15px;
    padding-right: 15px;
    transform: translate(0%, -45%);
    -webkit-transform: translate(0%, -45%);
    -moz-transform: translate(0%, -45%);
    -o-transform: translate(0%, -45%);
    -ms-transform: translate(0%, -45%);
}

#contacto-mensaje {
    width: 99%;
    resize: none;
    border-radius: 5px;
    height: 139px;
}

    #contacto-email::-webkit-input-placeholder {
        color: #04612d;
    }

    #contacto-mensaje::-webkit-input-placeholder {
        color: #04612d;
    }

    #contacto-nombre::-webkit-input-placeholder {
        color: #04612d;
    }

.btn-contacto {
    color: white;
    border: none;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 15px;
    position: absolute;
    right: 4%;
}

.contacto-nombre-field-icon {
    position: absolute !important;
    top: 13%;
    right: 43%;
    color: #04612d;
}

.contacto-email-field-icon {
    position: absolute;
    top: 28%;
    right: 43%;
    color: #04612d;
}

.tabla-carrito-titulo {
    text-align: center;
    color: white;
    font-family: BoldFont;
    font-size: 16px;
} 

@media (max-width: 321px) {
    .menu-administrador-container .menu-opciones {
        font-size: 12px;
    }

    .menu-administrador-container .opciones {
        margin-top: 40px !important;
    }

        .menu-administrador-container .menu-opciones li {
            padding-top: 8px;
        }
}

@media (max-width:496px){
    .img-grande-container{
        display: none;
    }
}

@media (min-width:768px) and (max-width:868px){
    .table-responsive{
        overflow-x:scroll !important;
    }
}

@media (max-width:768px){
    .login-menu-container ul li a {
        font-size: 14px !important;
    }

    .logo-container a img {
        width: 80%;
    }

    .campos-registro {
        height: 35px;
    }
}

@media (max-width: 767px) {
    .menu-redondeado-container {
        display: none;
    }

    .menu-movil-container {
        display: block;
        box-shadow: 0px 1px 9px #6E6E6E;
    }

    .menu-tabs li {
        padding: 15px 15px 5px 0px;
        font-size: 13px;
    }

    footer p {
        font-size: 12px;
    }

    .btn-login {
        margin-top: 0px !important;
        font-size: 14px;
    }
    
    .login-logo-container img {
        width: 40% !important;
    }

    .menu-administrador-container .boton-container {
        right: 30px;
    }

    .menu-administrador-container .logo-container .logo-home{
        min-width:10px !important;
        left: 40%;
    }

    .menu-administrador-container .logo-container{
        width: 60%;
    }

    .expander-3 {
        margin-left: -15px !important;
        margin-right: -15px !important;
        padding-left: 15px !important;
    }

    .banner-central-container {
        display: none;
    }

    .destacados-titulo-container {
        display: none;
    }

    .busqueda-titulo-container {
        margin-top: 20px;
    }

    .titulos h3 {
        font-size: 16px;
        text-align: center;
    }

    .dropdown button {
        font-size: 13px;
    }

    .dropdown-menu {
        font-size: 12px;
    }

    .busqueda-titulo-container {
        min-height: 45px !important;
    }

    .slider-container {
        margin-top: 0px;
    }

    .price-container {
        font-size: 13px;
    }

    #slider {
        height: 16px !important;
    }

        #slider .noUi-handle {
            height: 26px;
            top: -5px;
        }

    .noUi-target {
        box-shadow: none !important;
        border: none !important;
    }

    #buscar {
        border: none;
        background-color: rgba(255,255,255, 0.7) !important;
        border-width: 0px !important; 
        -webkit-box-shadow: none !important;
        -ms-box-shadow: none !important;
        -o-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }

        #buscar::-webkit-input-placeholder {
            color: #04612d !important;
        }

    .anuncios-movil-container {
        display: inline-block;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .anuncios-container {
        display: none;
    }

    .anunciate-texto-container {
        top: 52%;
    }

    .anunciate-texto-container p {
        font-size: 11px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .anunciate-img {
        width: 114px;
        padding-bottom: 5px;
        padding-left: 3px;
    }

    .planes-texto-container {
        width: 100%;
    }

    .planes-texto-container a {
        font-size: 18px;
    }

    .planes-texto-container span {
        font-size: 18px;
    }

    .footer-dummy {
        height: 35px;
    }

    .base1 {
        position: relative;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
    }

    .base3 {
        position: relative;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-100%, 0);
        -o-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
    }

    .anunciate-wrapper {
        border-radius: 0;
        height: auto;
        width: 100%;
        left: 0;
        transform: translate(0%, 0);
        -webkit-transform: translate(0%, 0);
        -moz-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
        -o-transform: translate(0%, 0);
        background-image: url(/img/fondoVA.jpg);
        filter: drop-shadow(0px 0px 0px #585858);
    }

    .anunciate-recados-container {
        top: 0%;
        transform: translate(0, 0); 
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
    }

    .anunciate-recados-texto h2 {
        font-size: 30px;
    }

    .anunciate-recados-texto h3 {
        font-size: 25px;
    }

    .base {
        margin-top: 46px;
        height: 261px !important;
    }

        .base:before {
            top: 261px !important;
        }

    #paquetes{
        height: auto !important;
        min-height: 100vh;
    }
    
    .anunciate-recados-container:last-child{
        padding-bottom: 80px;
    }

    .anunciate-recados-container .col-sm-2{
        padding-top:30px;
    }

    .anunciate-recados-container:first-child{
        padding-top:0px;
    }
}

@media (max-width: 770px){

    .menu-tabs a{
        font-size: 15px;
    }
}

@media (max-width: 833px){
    .login-menu-container ul li a{
        font-size: 13px;
    }
}

@media (max-width: 960px){

    .menu-tabs a{
        font-size: 16px;
    }

    .carrito {
        padding: 3px;
    }

    .ofertas-anuncio-titulo .anuncio-titulo p {
        font-size: 12px !important;
    }
}

@media (max-width: 1200px){
    .base {
        height: 270px !important;
        width: 210px !important;
    }

    .base:before {
        border-left: 105px solid transparent !important;
        border-right: 105px solid transparent !important;
        top: 270px !important;
    }

    .anunciate-recados-texto h2{
        font-size: 30px;
    }

    .anunciate-recados-texto h3{
        font-size:22px;
    }
}

@media (max-width: 1060px){

    .menu-tabs a{
        font-size: 18px;
    }

    .menu-tabs li {
        padding: 9px;
    }
}

@media (max-width: 1120px){

    .busqueda-titulo-container{
        min-height: 52px;
    }

    .logo-container a img{
        width: 80%;
    }

    .ofertas-anuncio-titulo .anuncio-titulo p {
        font-size: 13px !important;
    }
}

@media (min-width:995px ) and (max-width: 767px){
    .menu-administrador-container .logo-container{
        left:60px;
    }
}
