@{
    ViewBag.Title = "Administración Anuncios";
    Layout = "Shared/_AdministradorLayout.cshtml";
}

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <div style="margin-bottom:20px">
            <p class="hide-anuncios-de-categoria"></p>
            <p class="hide-anuncios-de-subcategoria"></p>
            <p class="hide-anuncios-de-usuario"></p>
        </div>
        <ul class="nav nav-tabs">
            <li><a id="activos-tab" href="#activos" data-toggle="tab">Activos</a></li>
            <li><a id="vencidos-tab" href="#vencidos" data-toggle="tab">Vencidos</a></li>
            <li><a id="pendientes-tab" href="#pendientes" data-toggle="tab">Pendientes por Aprobar</a></li>
            <li><a id="noaprobados-tab" href="#noaprobados" data-toggle="tab">No Aprobados</a></li>
        </ul>
    </div>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="tab-content" id="tabs">
            <div class="tab-pane" id="activos">

            </div>
            <div class="tab-pane" id="vencidos">

            </div>
            <div class="tab-pane" id="pendientes">

            </div>
            <div class="tab-pane" id="noaprobados">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    var _id;
    var _tipo;
    var paramsUrl;

    $(document).ready(function () {
        activaTab('activos');
    });

    $(window).load(function () {
        _id = getUrlParameter('id');
        if (typeof _id == 'undefined') {
            _id = "";
        }
        _tipo = getUrlParameter('tipo');
        if (typeof _tipo == 'undefined') {
            _tipo = "";
        }

        switch (_tipo) {
            case "cat":
                $('.hide-anuncios-de-categoria').show();
                $('.hide-anuncios-de-subcategoria').hide();
                $('.hide-anuncios-de-usuario').hide();
                break;
            case "subcat":
                $('.hide-anuncios-de-categoria').hide();
                $('.hide-anuncios-de-subcategoria').show();
                $('.hide-anuncios-de-usuario').hide();
                break;
            case "usuario":
                $('.hide-anuncios-de-categoria').hide();
                $('.hide-anuncios-de-subcategoria').hide();
                $('.hide-anuncios-de-usuario').show();
                break;
        }

        paramsUrl = setParamsString();
        getActivos();
    });

    function setParamsString() {
        if (_id == "" && _tipo == "") {
            return "";
        }
        return ("?id="+ _id + "&tipo=" + _tipo); 
    }

    $("#activos-tab").click(function () {
        activaTab('activos');
        getActivos();
    });

    $("#vencidos-tab").click(function () {
        activaTab('vencidos');
        getVencidos();
    });

    $("#pendientes-tab").click(function () {
        activaTab('pendientes');
        getPendientes();
    });

    $("#noaprobados-tab").click(function () {
        activaTab('noaprobados');
        getNoAprobados();
    });


    var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
    };

    function getActivos() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Administrador/AnunciosActivosPartial' + paramsUrl,
            success: function (result) {
                $("#activos").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en anuncios activos: " + msg);
            }
        });
    }

    function getVencidos() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Administrador/AnunciosVencidosPartial' + paramsUrl,
            success: function (result) {
                $("#vencidos").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en anuncios vencidos: " + msg);
            }
        });
    }

    function getPendientes() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Administrador/AnunciosPendientesPartial' + paramsUrl,
            success: function (result) {
                $("#pendientes").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en anuncios pendientes: " + msg);
            }
        });
    }

    function getNoAprobados() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Administrador/AnunciosNoAprobadosPartial' + paramsUrl,
            success: function (result) {
                $("#noaprobados").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en anuncios no aprobados: " + msg);
            }
        });
    }

    function activaTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>
