@model VendeAgroWeb.Models.Administrador.AnunciosViewModel

<div class="table-responsive">
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Pendientes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.AnunciosPendientes)
                {
                    <tr></tr>
                }
            }
        </tbody>
    </table>
</div>