@{
    ViewBag.Title = "Administración Usuarios";
    Layout = "Shared/_AdministradorLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="text-align: center;">
        <h2 class="mis-anuncios-titulo">Usuarios</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-1 col-sm-10">
        <ul class="nav nav-tabs">
            <li><a id="administrador-tab" href="#administrador" data-toggle="tab">Administrador</a></li>
            <li><a id="clientes-tab" href="#clientes" data-toggle="tab">Clientes</a></li>
        </ul>
    </div>
</div>

<div class="row" style="margin-top:30px">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="tab-content" id="tabs">
            <div class="tab-pane" id="administrador">
               
            </div>
            <div class="tab-pane" id="clientes">
                
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(document).ready(function () {
        activaTab('clientes');
    });

    $(window).load(function () {
        getClientes();
    });

    $("#administrador-tab").click(function () {
        activaTab('administrador');
        getAdministradores();
    });

    $("#clientes-tab").click(function () {
        activaTab('clientes');
        getClientes();
    });

    function getClientes() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Administrador/UsuariosPortalPartial',
            success: function (result) {
                $("#clientes").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en usuarios: " + msg);
            }
        });
    }

    function getAdministradores() {
        $.ajax({
            type: "POST",
            data: {},
            url: '/Administrador/UsuariosAdministradorPartial',
            success: function (result) {
                $("#administrador").html(result);
            },
            error: function (msg) {
                console.log(msg);
                alert("Error en usuarios: " + msg);
            }
        });
    }

    

    function activaTab(tab) {
        $('.nav-tabs a[href="#' + tab + '"]').tab('show');
    };
</script>
