
<div class="col-xs-11 anuncio-desktop">
    <div class="row anuncio-container">
        <div class="row anuncio-titulo">
            <p class="titulo">Yegua española</p>
            <p class="precio">$150,000</p>
        </div>
        <div class="col-sm-12 anuncio-contenido">
            <div class="row">
                <div class="col-sm-6" style="padding-left:0px;">
                    <div class="imagen-container">
                        <a><img src="~/img/yegua.jpg" /></a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row informacion-container">
                        <p class="titulo">Categoria</p>
                        <p class="informacion">Equinos</p>
                        <p class="titulo">Subcategoria</p>
                        <p class="informacion">Caballos y yeguas</p>
                        <p class="titulo">Pais</p>
                        <p class="informacion">México</p>
                        <p class="titulo">Estado</p>
                        <p class="informacion">Puebla</p>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row">
                        <p class="preguntar">Preguntar</p>
                    </div>
                    <div class="row">
                        <button class="btn btn-default detalles" type="button">Detalles</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>