
<ul class="menu-tabs">
    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
    <li>@Html.ActionLink("Ofertas del día", "OfertasDeLaSemana", "Home")</li>
    <li>@Html.ActionLink("Anúnciate", "Anunciate", "Home")</li>
    <li>@Html.ActionLink("Contacto", "Contacto", "Home")</li>
</ul>
