body {
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 80% !important;
}

.dl-horizontal dt {
    white-space: normal;
}

* {
    border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.forma-busqueda {
    padding: 15px 0px 0px 0px;
}

.menu-container {
    background-color: black;
    position: relative;
}

.menu-row {
    margin: 0px !important;
}

.menu-tabs {
    list-style: none;
    padding-left: 0px;
}

    .menu-tabs li:nth-child(1) {
        padding-left: 0px;
    }

    .menu-tabs li {
        float: left;
        padding: 15px;
    }

        .menu-tabs li a:hover {
            text-decoration: none;
        }

.logo-container {
    width: 25%;
    position: absolute;
    height: 100%;
}

    .logo-container a {
        width: 100%;
        height: 100%;
    }

        .logo-container a img {
            width: 60%;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

.login-menu-container ul {
    padding: 20px 15px 0px 0px;
}

    .login-menu-container ul li a {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-right: 10px;
        line-height: 20px;
        padding-left: 10px;
    }

.menu-movil-container {
    display: none;
    background-color: black;
}

@media (max-width: 767px) {
    .menu-container {
        display: none;
    }

    .menu-movil-container {
        display: block;
    }

    .menu-tabs li {
        padding: 15px 15px 5px 0px;
        font-size: 13px;
    }
}

.logo-movil {
    width: 100%;
}

    .logo-movil img {
        width: 60%;
    }

.login-menu-movil-container ul {
    width: 100%;
}

    .login-menu-movil-container ul li {
        display: table-cell;
        float: right;
    }

        .login-menu-movil-container ul li a {
            padding-top: 2px;
            padding-bottom: 2px;
            padding-right: 10px;
            line-height: 20px;
            padding-left: 10px;
            font-size: 12px;
        }

.movil-forma-busqueda {
    padding: 10px 0px 0px 0px;
}

.home-body-container {
    margin-top: 20px;
}

.busqueda-avanzada-container {
    background-color: #eee;
    padding-bottom: 20px;
    border-radius: 5px;
}

    .busqueda-avanzada-container h3 {
        margin: 20px 10px 10px 10px;
        font-size: 20px;
    }

.dropdown {
    margin-top: 10px;
}

    .dropdown button {
        width: 100%;
        background-color: #d1d1d1;
        border: none !important;
    }

    .dropdown .dropdown-menu {
        width: 100%;
    }

    .dropdown button .caret {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(0, -50%);
    }

.slider-container {
    margin-top: 10px;
}

.price-container {
    position: relative;
    min-height: 25px;
    margin: 0 !important;
}

.precio-izq {
    position: absolute;
    left: 0;
}

.precio-der {
    position: absolute;
    right: 0;
}

.titulos {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 4px solid #1C3E7E;
}

    .titulos h3 {
        margin: 0px;
        font-size: 20px;
    }

.busqueda-titulo-container {
    background-color: #eee;
}

.destacados-titulo-container {
    background-color: gray;
}

.anuncio-desktop {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    width: 95%;
}

.anuncio-container {
}

.anuncio-contenido {
    padding-bottom: 10px;
    box-shadow: 0 4px 10px -7px gray;
}

    .anuncio-contenido a img {
        width: 100%;
    }

.anuncio-titulo {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1C3E7E;
    position: relative;
    min-height: 25px;
    margin: 0 !important;
}

    .anuncio-titulo p {
        margin-bottom: 0;
        color: white;
        font-weight: bold;
        font-size: 16px;
    }

    .anuncio-titulo .titulo {
        position: absolute;
        left: 0;
        padding: 1px 0px 1px 15px;
    }

    .anuncio-titulo .precio {
        position: relative;
        float: right;
        padding: 1px 15px 1px 0px;
    }

.anuncio-contenido .imagen-container {
    padding: 0px 10px 0px 0px;
}

.anuncio-contenido p {
    font-size: 12px;
}
